@import "../variables/colors"
@import "../variables/fonts"


.tariff-plan-paper-data
  display: flex
  font-size: 12px
  text-align: left
  color: rgba(0, 0, 0, 0.87)
  padding: 10px 0
  justify-content: space-between

.tariff-plan-data-info
    width: 50%
    display: flex
    justify-content: space-between

.tariff-plan-additional-info
  font-size: 12px
  color: rgba(0, 0, 0, 0.54)
  padding-bottom: 15px

.tariff-plan-paper-data-title
  font-size: 20px



.create-tariff-plan-content
  width: 450px

.create-tariff-plan-container
  display: flex
  width: 450px
  justify-content: space-between

.two-part
  width: 195px

.tree-part
  width: 120px