.rules
  display: flex
  flex: 1
  flex-direction: row
  justify-content: flex-start
  width: 100%
  min-height: 80px
  border-radius: 3px
  background-color: #f2f2f2
  border: solid 1px #d0d0d0


.rules-wrap,
.rulesWithAnswer
  width: 100%
.rules-wrap
  padding: 20px

.rules-question
  input
    margin: 20px
    height: 36px
    width: 90%

.rulesWithAnswer
  display: flex