.rule-question
  display: flex
  flex-direction: row
  width: 560px
  height: 72px
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  margin-bottom: 30px
  .nav-block,
  .question-block
    display: flex
    flex-direction: column
  .question-block
    background-color: white
    width: calc(100% - 64px)
    .wrap
      padding: 10px 15px
  .nav-block
    background-color: $primary-blue
    width: 64px
    height: 72px
    position: relative
    align-items: center
    button
      position: absolute
      bottom: -20px
      width: 40px
      height: 40px

.rules-block .items > div
  margin-bottom: 30px
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26)

.rule-block,
.rule-item
  display: flex
  flex-direction: row
  .nav
    width: 64px
    min-width: 64px

.rule-block .nav
  background-color: $primary-red
  &.and
    background-color: $primary-blue
  &.or
    background-color: $primary-green

.rule-block
  width: 560px
  min-height: 72px
  background-color: white
  .details
    display: flex
    flex-direction: column
    height: 40px
    width: 100%

.rule-block,
.rule-item
  .types-select
    margin: 0
    display: flex
    [class^='MuiInput']:before,
    [class^='MuiInput']:after
      display: none
    [class^='MuiSelect-select']
      padding: 0 12px 2px 0
      text-align: center
      color: white
      font-size: 12px
    [class^='MuiSvgIcon']
      fill: white
      stroke: white
      width: 20px
      height: 18px




.add-item
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  color:  $primary-blue
  cursor: pointer


.rule-item
  width: 560px
  height: 72px
  background-color: white
  .rule-nav
    width: 64px
    min-width: 64px
    background-color: $secondary-grey
  .rule-item-details
    background-color: white