.table-template
  .active
    cursor: pointer
  .de-active
    cursor: pointer
    background-color: $grey100
    color: $disabled-text
    &:hover
      background-color: $grey100

  th,td
    &.center
      text-align: center
  th,td
    &.left
      text-align: left
  th, td
    &.right
      text-align: right
  .td-checkbox
    width: 40px
    max-width: 40px

.cell-wrapper
  position: relative

.search-icon
  color: gray

.in-testing-wrap
  display: flex
  flex-direction: row
  &.in-testing
    justify-content: initial
    align-items: center
    display: flex
  .in-testing-tooltip
    visibility: hidden
    &.active
      visibility: visible
  .in-testing:before
    content: '●'
    display:  flex
    justify-content: center
    align-content: center
    font-size: 20px
    flex-direction: column
    margin-bottom: 2px
    color: rgba(0,0,0,0)

  .in-testing.active:before
    color: $primary-blue
#remove-menu-item
  color: red