.table-template
  .active
    cursor: pointer
  .de-active
    cursor: pointer
    background-color: $grey100
    color: $disabled-text
    &:hover
      background-color: $grey100

  th,td
    &.center
      text-align: center
  th,td
    &.left
      text-align: left
  th, td
    &.right
      text-align: right
  .td-checkbox
    width: 40px
    max-width: 40px

.cell-wrapper
  position: relative

.search-icon
  color: gray