html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%

.main-content,
.main-wrapper
  display: flex
  flex: 1
  height: 100%

.main-wrapper
  flex-direction: column

.main-container,
.main-container > div
  height: 100%

.main-content
  flex-direction: row

  .content-navigation
    display: flex
    min-width: 220px
    height: 100%
    background-color: $primary-grey

  .content-children
    width: 100%
    background-color: olive