.testing-header-control-container
  display: flex
  align-items: center
  *
    margin: 0 15px

.testing-header-cancel
  cursor: pointer
  font-size: 14px

.testing-inner-container
  padding: 24px

.testing-inner-container-long
  padding: 24px

.border-bottom
  border-bottom: 1px solid #eaeaea

.border-right
  border-right: 1px solid #eaeaea

.border-bottom
  border-bottom: 1px solid #eaeaea

.testing-inner-sub-header
  font-size: 18px
  //padding-left: 24px
  margin-bottom: 0

.margin-range
  margin: 24px 24px 24px 0
