.testing-container
  background: #f5f5f5
  min-height: 100%

.testing-scrollable-sub-container
  height: calc(100vh - 128px)
  overflow-y: auto

.testing-header-control-container
  display: flex
  align-items: center
  *
    margin: 0 15px

.testing-header-cancel
  cursor: pointer
  font-size: 14px

.testing-inner-container
  padding: 24px

.testing-inner-container-long
  padding: 24px
  h5
    margin-bottom: 5px
    margin-top: 5px
  h6
    margin-bottom: 5px
    margin-top: 5px
  .radio-formLabel
    line-height: 1.5
    padding-top: 10px
  fieldset
    margin: 0px

.border-bottom
  border-bottom: 1px solid #eaeaea

.border-top
  border-top: 1px solid #eaeaea

.border-right
  border-right: 1px solid #eaeaea

.testing-inner-sub-header
  //padding-left: 24px
  margin-bottom: 0
  font-weight: lighter

.margin-range
  margin: 24px 24px 24px 0

.range-input-wrapper
  display: flex
  align-items: flex-end
  justify-content: space-between

.range-input-value-indicator
  display: inline-block
  margin: 8px
  border-bottom: 1px solid #949494
  padding: 5px
  color: rgba(0,0,0,.87)

.testing-file-icon
  color: #4184f3
  font-size: 25px
  width: 30px !important
  height: 30px !important
